@import "./home.css";
@import "./service.css";
@import "./carousel.css";
@import "./footer.css";
@import "./nav.css";

*{  
    font-family: sans-serif;
}

html,body{
    margin: 0;
    padding: 0;
}

*{
    font-family:inherit;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    height: 100vh;
    background: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100vh) 1fr;
}