.main  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    text-align: center;
    
}

.main .nav .color1{
    background-color: #4682b4;
    width: 100%;
}

.main  .nav .color2{
    background-color: beige;
    width: 100%;
}

.main  .nav a::after{
    content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: rgb(255, 255, 255);
  transform: scale(0, 1);
  transition: transform 200ms ease-in;
}

.main  .nav a:hover::after {
    transform: scale(1, 1);
}
